<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microfin.logic.dao.BankCardDetailDao">
    <select id="query" resultType="com.microfin.logic.entity.BankCardDetail">
        SELECT 
            id,orgName,cardName,pos,atm,accountLength,mainAccount,mainValue,cardType
        FROM 
            T_BANK_CARD_DETAIL
        WHERE 
         1=1
        <if test="_parameter !=null and _parameter != ''">
         AND 
             id = #{id,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>