<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microfin.logic.dao.BlackListDao">
    <select id="query" resultType="com.microfin.logic.entity.BlackList">
        SELECT
        id,company,inblacklist,issDate
        FROM
        T_BLACK_LIST
        <where>
            <if test="_parameter !=null and _parameter != '' ">
                AND
                id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>