<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microfin.logic.dao.MccDetailDao">
    <select id="query" resultType="com.microfin.logic.entity.MCCDetail">
        SELECT
          A.mccNo,A.busNameType,A.busCategory,A.busType,A.busDetail,A.present,A.type,A.typeDetail
        FROM
          mcc_t A
        <where>
            <if test="_parameter !=null and _parameter != '' ">
                AND
                A.id = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>