<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microfin.logic.dao.PosAnswerMeasureDao">
    <select id="query" resultType="com.microfin.logic.entity.PosAnswerMeasure">
        SELECT
          code,meaning,`type`,displaycontent,measure
        FROM
          T_POS_ANSWER_MEASURE
        <where>
            <if test="_parameter !=null and _parameter != '' ">
                AND
                code = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="queryByCategory" resultType="com.microfin.logic.entity.PosAnswerMeasure">
        SELECT
          code,meaning,type,displaycontent,measure
        FROM
          T_POS_ANSWER_MEASURE
        WHERE
          1=1
            AND
              code LIKE "%"#{code,jdbcType=VARCHAR}"%"
            OR
              displaycontent LIKE "%"#{displaycontent,jdbcType=VARCHAR}"%"
    </select>
</mapper>