<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microfin.logic.dao.RegionCodeDao">
    <select id="query" resultType="com.microfin.logic.entity.RegionCode">
        SELECT
        code,address,province
        FROM
        T_CODE_DETAIL
        <where>
            <if test="_parameter !=null and _parameter != '' ">
                AND
                code = #{code,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="queryByCategory" resultType="com.microfin.logic.entity.RegionCode">
        SELECT
          code,address,province
        FROM
          T_CODE_DETAIL
        <where>
                AND
                  code LIKE "%"#{code,jdbcType=VARCHAR}"%"
                OR
                  address LIKE "%"#{address,jdbcType=VARCHAR}"%"
        </where>
    </select>
</mapper>