<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microfin.logic.dao.ThirdPaymentCompanyDao">
    <select id="query" resultType="com.microfin.logic.entity.ThirdPaymentCompany">
        SELECT
          cid, licenseNo,companyName,legalPerson,companyAddress,province,serviceType,serviceRange,cardOrder,issuingDate,endDate,website,lot,noticesite,renewalInfo
        FROM
          T_THIRD_PAYMENT_COMPANY
        <where>
            <if test="_parameter !=null and _parameter != '' ">
                AND
                cid = #{id,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="queryByCategory" resultType="com.microfin.logic.entity.ThirdPaymentCompany">
        SELECT
          cid, licenseNo,companyName,legalPerson,companyAddress,province,serviceType,serviceRange,cardOrder,issuingDate,endDate,website,lot,noticesite,renewalInfo
        FROM
          T_THIRD_PAYMENT_COMPANY
        WHERE
          1=1
            AND
            companyName LIKE "%"#{companyName,jdbcType=VARCHAR}"%"
    </select>
</mapper>